<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke Suite" thread-count="1" parallel="classes"
	 data-provider-thread-count="1"> 
	<listeners>
		<listener class-name="listeners.CustomListener"></listener>
	</listeners>
	
	<test name="Smoke">
    <classes>
      <class name="com.smoke.tests.SearchItemTest"/>  
      <class name="com.smoke.tests.SignUpTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
